# --- Java Class Files ---
*.class

# --- Log Files ---
*.log

# --- BlueJ ---
*.ctxt

# --- J2ME ---
.mtj.tmp/

# --- Package Files ---
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- JVM Crash Logs ---
hs_err_pid*
replay_pid*

# --- Spring Boot / 민감한 설정 파일 ---
*.properties
*.yml
*.yaml
!src/main/resources/application-example.yml  #

# --- Gradle Build ---
build.gradle
.gradle/
.gradle-cache/
.gradle-test-kit/
build/
!gradle/wrapper/gradle-wrapper.jar  #

# --- IDEs ---
.idea/
*.iml
out/

# --- OS Files ---
.DS_Store
Thumbs.db
build.gradle
build.gradle
*.gradle
*.gradle
build.gradle
